In [1]:
import pandas as pd
import networkx as nx

In [2]:
# load dataset
business = pd.read_csv('./business.csv')
user = pd.read_csv('./user.csv')
review = pd.read_csv('./review.csv')

1단계 yelp data 중 성균관대학교 주변 음식점과 유사한 환경 조건의 데이터 pre-processing

- yelp data 중 총 business 150346 rows 중 Restaurant 또는 Food 관련 business 64629row 추출
- 이 중 가장 많은 business가 등록된 도시인 Philadelphia 7076 row 내에서 University City(대학 주변 상권)에 해당하는 business 508 row 추출
- 추출된 business에 해당되는 review 총 4002 row 추출
- 추출된 review를 작성한 user 총 2792 row 추출

In [3]:
'''
     [business Table : restaurant information - 필라델피아 university district 지역]
     
1. business_id : business_id
2. name : restaurant_name
3. address : address
4. city : Philadelphia
5. stars : 레스토랑에 대한 평균 평점
6. review_count : 해당 레스토랑에 대한 리뷰 개수


'''
business = business[['business_id', 'name','address','city','stars','review_count']]
business

,business_id,name,address,city,stars,review_count
0,ppFCk9aQkM338Rgwpl2F5A,Wawa,3604 Chestnut St,Philadelphia,3.0,56
1,bqmX882_6AxVA_uHEQ70sQ,Shanghai Station,4002 Spruce St,Philadelphia,4.0,46
2,RrqRin8BYGrTlJbCDwtLzA,Wawa,3744 Spruce St,Philadelphia,3.5,50
3,12kD46cnLyMXUQTCI2N0ug,P&P Grocery,4307 Locust St,Philadelphia,4.5,13
4,N1ZXhAVzOzbyCBPEXTaUUw,Tandoor Authentic Indian Restaurant,106 S 40th St,Philadelphia,3.5,148
...,...,...,...,...,...,...
503,pM1M2A14mNXz48KCcQtz2w,Starbucks,4140 Woodland Ave,Philadelphia,3.0,17
504,662o6Z3l7o0PDi8Y-88oWQ,Creative Cafe,3711 Market St,Philadelphia,4.0,14
505,OfRbGvHn-nAnQMqNxiIpcA,Grilly Cheese,3306 Arch St,Philadelphia,3.0,5
506,VZbkSeZtFynEascotq7ExA,Ali Baba Magic Food,37TH And Walnut,Philadelphia,4.0,8
507,8n93L-ilMAsvwUatarykSg,Kitchen Gia,3716 Spruce St,Philadelphia,3.0,22

In [4]:
'''
     [User Table : user information]
     
1. user_id : user_id
2. name : user_name
3. review_count : 리뷰를 남긴 개수
4. useful : 해당 유저가 받은 'useful' 추천 개수
5. fans : 해당 유저를 팔로우 하는 사람의 수 

'''
user = user[['user_id','name','review_count','useful','fans']]
user

                     user_id     name  review_count  useful  fans
0     FlhZYUEhfpfm0Ynxacftwg     Kate            94     124     6
1     NWFqEfs5Z9wUmCeVfTTDAA    David            16      11     1
2     LfleZY423IgY6tHULVXGcw    Baeth            25      51     2
3     ojxS1v-8nUvEEx4DlsPQrA  Kristin           655     621    34
4     FlXBpK_YZxLo27jcMdII1w  Mallory          1158    3875   102
...                      ...      ...           ...     ...   ...
2787  Q9PK-ZrG-Mhr_Nwx2NXW9g     John            12      13     0
2788  NBF073P4GpQgrEFOO8LGMQ  Michael             1       0     0
2789  XXJ75Ya_hxdcAEPlk0z3yA   Maimon             3       0     0
2790  sr_LDk6CIwHlXxhrSWKHkA    Chris             1       0     0
2791  _dPpIEqkz1GTYvzphzF8eQ  Dashawn             1       0     0

[2792 rows x 5 columns]

In [5]:
'''
     [Review Table : restaurant에 대한 user의 리뷰]
     
1. review_id : review_id
2. user_id : user_id
3. business_id : business_id
4. stars : 별점점
5. useful : useful 추천을 받은 개수
6. date : 리뷰 날짜

'''
review=review[['review_id','user_id','business_id','stars','useful','date']]
review

,review_id,user_id,business_id,stars,useful,date
0,Hov6E6epvJRM6gjDIKLLHw,sIH5HbEwhbxt-4waYoDUBw,RXItVN-qOBgbp_vBalAkOw,4.0,1,2019-12-02 13:46:32
1,OJCHbiPhOvh3jWFTVC0hcA,LV-7j98okmkBOeE-EA3RwQ,-CRjqZ4GxZ6lIa_qMj7-yw,5.0,0,2020-06-28 21:07:14
2,TZzka79A588bOiOlHrKz-A,gc1YP39bqjYFP6tMlkcSZQ,MMRRS6YhVRx_iN5-JhMRYg,3.0,0,2020-04-10 19:40:49
3,1cOVhOGu6ES8vD4Kwf2L7A,Zq31drx-JM2R1MKQg8uJQw,MMRRS6YhVRx_iN5-JhMRYg,4.0,2,2020-01-23 10:20:21
4,zi_tcs-VnFXJPFSQrWXnUg,TJ8Hawan8jDIZHS7AAZJwg,B-DiQpcSTJ7oMMnwzbAGTQ,4.0,0,2020-01-25 01:22:51
...,...,...,...,...,...,...
3997,5gZ8vC-xtzcF5ar7FpTNvg,G5OLGMmgH1idDBMwKbiSSA,zf10JmXNZFljGl3IgWW-Lg,5.0,1,2021-09-20 00:24:17
3998,wTjDM7o5_bsn3oMUqaMvOg,URrgQD93DohctUfRqjYWAA,jL4fYp0j8Jn31BiYptb10g,3.0,3,2020-12-05 00:24:19
3999,gQe6iUZMkCxIjZDNrY0nHg,UF93ng54bB4981krwCMmKw,dmyPzMRNgTIOBRT11NFcvg,4.0,1,2020-01-25 21:16:36
4000,u_pQ6h4bUiH-2J6UB9HysQ,6knga-vNLcCxdQmhevWjTA,irolxiYw4pOCM9gGDOhnsw,1.0,1,2021-06-19 00:53:57
4001,0_dRzCAIU_9cmW7eusehHw,BaVAIYKYSSEMT5_sXRiwLg,jZGqAdBlDnrP-J7--vdPxA,4.0,3,2020-01-06 19:54:55

In [6]:
review = pd.merge(review, user[['user_id','name']], how='left', left_on='user_id', right_on='user_id')

In [7]:
review = review[['review_id', 'name','business_id', 'stars', 'useful', 'date']]
review.columns = ['review_id', 'user_name','business_id', 'stars', 'useful', 'date']

In [8]:
review

,review_id,user_name,business_id,stars,useful,date
0,Hov6E6epvJRM6gjDIKLLHw,Casey,RXItVN-qOBgbp_vBalAkOw,4.0,1,2019-12-02 13:46:32
1,OJCHbiPhOvh3jWFTVC0hcA,Cailey,-CRjqZ4GxZ6lIa_qMj7-yw,5.0,0,2020-06-28 21:07:14
2,TZzka79A588bOiOlHrKz-A,Rubaiyet,MMRRS6YhVRx_iN5-JhMRYg,3.0,0,2020-04-10 19:40:49
3,1cOVhOGu6ES8vD4Kwf2L7A,Long,MMRRS6YhVRx_iN5-JhMRYg,4.0,2,2020-01-23 10:20:21
4,zi_tcs-VnFXJPFSQrWXnUg,Max,B-DiQpcSTJ7oMMnwzbAGTQ,4.0,0,2020-01-25 01:22:51
...,...,...,...,...,...,...
3997,5gZ8vC-xtzcF5ar7FpTNvg,Angel,zf10JmXNZFljGl3IgWW-Lg,5.0,1,2021-09-20 00:24:17
3998,wTjDM7o5_bsn3oMUqaMvOg,Konyin,jL4fYp0j8Jn31BiYptb10g,3.0,3,2020-12-05 00:24:19
3999,gQe6iUZMkCxIjZDNrY0nHg,Kaliah,dmyPzMRNgTIOBRT11NFcvg,4.0,1,2020-01-25 21:16:36
4000,u_pQ6h4bUiH-2J6UB9HysQ,Jack,irolxiYw4pOCM9gGDOhnsw,1.0,1,2021-06-19 00:53:57
4001,0_dRzCAIU_9cmW7eusehHw,Shelby,jZGqAdBlDnrP-J7--vdPxA,4.0,3,2020-01-06 19:54:55

In [9]:
review = pd.merge(review, business[['business_id', 'name']], how='left', left_on='business_id', right_on='business_id')

In [10]:
review

,review_id,user_name,business_id,stars,useful,date,name
0,Hov6E6epvJRM6gjDIKLLHw,Casey,RXItVN-qOBgbp_vBalAkOw,4.0,1,2019-12-02 13:46:32,Goldie
1,OJCHbiPhOvh3jWFTVC0hcA,Cailey,-CRjqZ4GxZ6lIa_qMj7-yw,5.0,0,2020-06-28 21:07:14,Spring Chinese Restaurant
2,TZzka79A588bOiOlHrKz-A,Rubaiyet,MMRRS6YhVRx_iN5-JhMRYg,3.0,0,2020-04-10 19:40:49,Han Dynasty
3,1cOVhOGu6ES8vD4Kwf2L7A,Long,MMRRS6YhVRx_iN5-JhMRYg,4.0,2,2020-01-23 10:20:21,Han Dynasty
4,zi_tcs-VnFXJPFSQrWXnUg,Max,B-DiQpcSTJ7oMMnwzbAGTQ,4.0,0,2020-01-25 01:22:51,Cucina Zapata
...,...,...,...,...,...,...,...
3997,5gZ8vC-xtzcF5ar7FpTNvg,Angel,zf10JmXNZFljGl3IgWW-Lg,5.0,1,2021-09-20 00:24:17,Mizu
3998,wTjDM7o5_bsn3oMUqaMvOg,Konyin,jL4fYp0j8Jn31BiYptb10g,3.0,3,2020-12-05 00:24:19,Woosa Bubble Tea
3999,gQe6iUZMkCxIjZDNrY0nHg,Kaliah,dmyPzMRNgTIOBRT11NFcvg,4.0,1,2020-01-25 21:16:36,Starbucks
4000,u_pQ6h4bUiH-2J6UB9HysQ,Jack,irolxiYw4pOCM9gGDOhnsw,1.0,1,2021-06-19 00:53:57,Boston Market
4001,0_dRzCAIU_9cmW7eusehHw,Shelby,jZGqAdBlDnrP-J7--vdPxA,4.0,3,2020-01-06 19:54:55,Beijing Restaurant

In [11]:
review = review[['review_id', 'name','user_name', 'stars', 'useful', 'date']]
review.columns = ['review_id', 'business_name','user_name', 'stars', 'useful', 'date']
review

,review_id,business_name,user_name,stars,useful,date
0,Hov6E6epvJRM6gjDIKLLHw,Goldie,Casey,4.0,1,2019-12-02 13:46:32
1,OJCHbiPhOvh3jWFTVC0hcA,Spring Chinese Restaurant,Cailey,5.0,0,2020-06-28 21:07:14
2,TZzka79A588bOiOlHrKz-A,Han Dynasty,Rubaiyet,3.0,0,2020-04-10 19:40:49
3,1cOVhOGu6ES8vD4Kwf2L7A,Han Dynasty,Long,4.0,2,2020-01-23 10:20:21
4,zi_tcs-VnFXJPFSQrWXnUg,Cucina Zapata,Max,4.0,0,2020-01-25 01:22:51
...,...,...,...,...,...,...
3997,5gZ8vC-xtzcF5ar7FpTNvg,Mizu,Angel,5.0,1,2021-09-20 00:24:17
3998,wTjDM7o5_bsn3oMUqaMvOg,Woosa Bubble Tea,Konyin,3.0,3,2020-12-05 00:24:19
3999,gQe6iUZMkCxIjZDNrY0nHg,Starbucks,Kaliah,4.0,1,2020-01-25 21:16:36
4000,u_pQ6h4bUiH-2J6UB9HysQ,Boston Market,Jack,1.0,1,2021-06-19 00:53:57
4001,0_dRzCAIU_9cmW7eusehHw,Beijing Restaurant,Shelby,4.0,3,2020-01-06 19:54:55

## 어떤 레스토랑이 많은 리뷰를 받았는가?

In [12]:
rest_cnt = review['business_name'].value_counts()
rest_cnt

White Dog Cafe                     143
Louie Louie                        111
Sabrina's Café                     105
Manakeesh Cafe Bakery & Grill      103
Han Dynasty                         84
                                  ...
Pizza Rustica                        1
Traditional Szechuan Restaurant      1
Rana Halal Cuisine                   1
Nathan's Famous                      1
King Grill                           1
Name: business_name, Length: 258, dtype: int64

In [13]:
sum(list(rest_cnt >= 20))

60

### 리뷰를 20개 이상 받은 레스토랑 리스트 생성

In [14]:
target_rid = list(rest_cnt[list(rest_cnt>=20)].keys())
target_rid

['White Dog Cafe',
 'Louie Louie',
 "Sabrina's Café",
 'Manakeesh Cafe Bakery & Grill',
 'Han Dynasty',
 "Renata's Kitchen",
 'Don Barriga Mexican Grill',
 'Dim Sum House',
 "Bart's Bagels",
 'Haveli Virasat',
 'Walnut Street Cafe',
 "Beiler's Donuts",
 'Bonchon University City',
 'Abyssinia',
 'Terakawa Ramen',
 'Tacotacomexican',
 'LaTao HotPot',
 'Chengdu Famous Food',
 'Kabobeesh',
 'Distrito',
 'Baby Blues BBQ Philly',
 'Pho & Cafe Saigon',
 'Clarkville',
 'Quality Taste Jamaican Restaurant',
 'Landmark Americana Tap & Grill - University City',
 'NAM Vietnamese Kitchen',
 'Sang Kee Noodle House',
 'Ochatto',
 'Pattaya',
 'Coney Shack',
 'Greek Lady',
 'New Delhi Indian Restaurant',
 'Spread Bagelry',
 'Hadramout',
 'Yiro Yiro',
 'Boba King',
 "Koch's Deli",
 "Ed's Buffalo Wings & Pizza",
 'Tipsy Bistro',
 'Pelicana chicken',
 'El Taco',
 'Local 44',
 'Chili Szechuan',
 'Thai Singha House',
 'Grindcore House',
 'HipCityVeg - University City',
 "Abner's Cheesesteaks",
 'Starbucks',
 'Savas',
 'Meskerem Ethiopian Restaurant',
 'Ramen Bar',
 'Zesto Pizza & Grill',
 'Hummus Grill',
 'Pod',
 'New Deck Tavern',
 'Koreana',
 'Chipotle Mexican Grill',
 'Copabanana',
 'Sunset Social',
 'D.P. Dough-Philadelphia']

In [15]:
print(len(target_rid))

60

### 60개의 타겟 레스토랑만 포함하는 filtered review table 생성

In [16]:
f_review = review[[i in target_rid for i in review['business_name']]].reset_index(drop=True)
f_review

,review_id,business_name,user_name,stars,useful,date
0,TZzka79A588bOiOlHrKz-A,Han Dynasty,Rubaiyet,3.0,0,2020-04-10 19:40:49
1,1cOVhOGu6ES8vD4Kwf2L7A,Han Dynasty,Long,4.0,2,2020-01-23 10:20:21
2,hJi8nhPnok5hvTw_vBSSWw,Han Dynasty,Amita,4.0,1,2019-12-15 21:36:04
3,Vx_hrWEhbvsgNnhDRzl6IA,HipCityVeg - University City,Renée,5.0,0,2020-04-13 23:25:59
4,lRCh4flj3Izykbt7EANb1w,Han Dynasty,AJ,5.0,2,2020-01-21 07:09:08
...,...,...,...,...,...,...
2512,A3M4rUcVDSaAi_F33H2rSg,Koreana,David,4.0,3,2021-09-01 17:55:07
2513,MqO6AtW0LoRuKMyq0BXBuQ,Chili Szechuan,Angie,4.0,3,2020-12-09 01:28:18
2514,tPcO3FOEHa5vbINcqOA9eQ,Koreana,Jacqueline,2.0,0,2021-08-28 00:17:59
2515,m63xpqYvhspWGcsOnm5SJw,Koreana,Cindy,5.0,0,2020-05-15 19:00:31
2516,gQe6iUZMkCxIjZDNrY0nHg,Starbucks,Kaliah,4.0,1,2020-01-25 21:16:36

### filtered restaurant table

In [17]:
rid_list = list(set(f_review['business_name'])) 
f_rest = business[[i in rid_list for i in business['name']]]
f_rest

,business_id,name,address,city,stars,review_count
8,MMRRS6YhVRx_iN5-JhMRYg,Han Dynasty,3711 Market St,Philadelphia,4.0,783
22,C_EtrXTygRX5RTUOKtO6Dg,Copabanana,4000 Spruce St,Philadelphia,3.0,334
23,LnZvGYbqozanOSevcftnrw,HipCityVeg - University City,214 S 40th St,Philadelphia,4.0,314
61,YN4Kk751tmdvoarGo8z7_A,New Delhi Indian Restaurant,4004 Chestnut St,Philadelphia,4.0,514
76,x5GkG0oI_S107wLlgdBxVA,Spread Bagelry,3602 Chestnut St,Philadelphia,2.5,203
...,...,...,...,...,...,...
453,bdteJqgoj0OaALhj9RFtmw,Koreana,3801 Chestnut St,Philadelphia,3.5,363
466,HgxY_RnJFGqqSVO32nxS4A,Chili Szechuan,4205 Chestnut St,Philadelphia,4.0,147
479,3gVSrS4kffGGZT8oXHsIcw,Pod,3636 Sansom St,Philadelphia,3.5,797
480,dmyPzMRNgTIOBRT11NFcvg,Starbucks,1128 Walnut St,Philadelphia,4.0,11
503,pM1M2A14mNXz48KCcQtz2w,Starbucks,4140 Woodland Ave,Philadelphia,3.0,17

### filtered user table

In [18]:
uid_list = list(set(f_review['user_name']))
f_user = user[[i in uid_list for i in user['name']]]
f_user

                     user_id     name  review_count  useful  fans
0     FlhZYUEhfpfm0Ynxacftwg     Kate            94     124     6
1     NWFqEfs5Z9wUmCeVfTTDAA    David            16      11     1
2     LfleZY423IgY6tHULVXGcw    Baeth            25      51     2
3     ojxS1v-8nUvEEx4DlsPQrA  Kristin           655     621    34
4     FlXBpK_YZxLo27jcMdII1w  Mallory          1158    3875   102
...                      ...      ...           ...     ...   ...
2783  zGPbPANUG9mr9NmjuwjcXw     Lisa             1       1     0
2784  75C_NMRsOF3VWDjZj2YuOg  Cameron             6       3     0
2787  Q9PK-ZrG-Mhr_Nwx2NXW9g     John            12      13     0
2788  NBF073P4GpQgrEFOO8LGMQ  Michael             1       0     0
2790  sr_LDk6CIwHlXxhrSWKHkA    Chris             1       0     0

[2373 rows x 5 columns]

# Graph Build 
- 세 가지 데이터셋을 활용해 그래프를 정의
- 그래프는 NetworkX로 정의
- 그래프 구성
    1. Node : Restaurant, User (Heterogeneous Graph)
    2. Edge : User-Restaurant (User가 Restaurant 대해 리뷰를 남긴 경우 연결)
    3. Edge Type : **Undirected**

In [19]:
G = nx.Graph()

## 정의한 그래프에 Node를 추가
- Restaurant 노드와 user 노드를 순서대로 추가
- 각각의 노드가 어떤 유형의 노드인지 구분하기 위해, node_type이라는 attribute를 추가

- Restaurant 노드의 node_id 및 attribute
    - Node_id : name
    - Attribute : stars, review_count, node_type='restaurant'

- User 노드의 node_id 및 attribute
    - Node_id : name
    - Attribute : review_count, useful, fans, node_type='user'

In [20]:
rest_node = []
for n, s, rc in zip(f_rest['name'], f_rest['stars'], f_rest['review_count']):
  rest_node.append((n, {"stars":s, "review_count":rc, "node_type":'restaurant'}))
G.add_nodes_from(rest_node)

In [21]:
for node in G.nodes(data=True):
  print(node)
  break

('Han Dynasty', {'stars': 4.0, 'review_count': 783, 'node_type': 'restaurant'})

In [22]:
user_node = []
for n, rc, u, f in zip(f_user['name'], f_user['review_count'], f_user['useful'], f_user['fans']):
  user_node.append((n, {"review_count":rc, "useful":u, "fans":f, "node_type":'user'}))
G.add_nodes_from(user_node)

In [23]:
for node in G.nodes(data=True):
  if node[0] == 'Kate':
    print(node)
    break

('Kate', {'review_count': 1, 'useful': 0, 'fans': 0, 'node_type': 'user'})

In [24]:
f_review

,review_id,business_name,user_name,stars,useful,date
0,TZzka79A588bOiOlHrKz-A,Han Dynasty,Rubaiyet,3.0,0,2020-04-10 19:40:49
1,1cOVhOGu6ES8vD4Kwf2L7A,Han Dynasty,Long,4.0,2,2020-01-23 10:20:21
2,hJi8nhPnok5hvTw_vBSSWw,Han Dynasty,Amita,4.0,1,2019-12-15 21:36:04
3,Vx_hrWEhbvsgNnhDRzl6IA,HipCityVeg - University City,Renée,5.0,0,2020-04-13 23:25:59
4,lRCh4flj3Izykbt7EANb1w,Han Dynasty,AJ,5.0,2,2020-01-21 07:09:08
...,...,...,...,...,...,...
2512,A3M4rUcVDSaAi_F33H2rSg,Koreana,David,4.0,3,2021-09-01 17:55:07
2513,MqO6AtW0LoRuKMyq0BXBuQ,Chili Szechuan,Angie,4.0,3,2020-12-09 01:28:18
2514,tPcO3FOEHa5vbINcqOA9eQ,Koreana,Jacqueline,2.0,0,2021-08-28 00:17:59
2515,m63xpqYvhspWGcsOnm5SJw,Koreana,Cindy,5.0,0,2020-05-15 19:00:31
2516,gQe6iUZMkCxIjZDNrY0nHg,Starbucks,Kaliah,4.0,1,2020-01-25 21:16:36

In [25]:
#edge 추가
edges = []
for u, b, s in zip(f_review['user_name'], f_review['business_name'], f_review['stars']):
  edges.append((u,b, {"weight":s}))
G.add_edges_from(edges)

In [26]:
G.number_of_edges(), G.number_of_nodes()

(2399, 1268)

In [ ]:
#그래프 저장
nx.write_graphml_lxml(G, "yelp_graph_v2.graphml")

In [30]:
from networkx.algorithms import bipartite

In [32]:
bc = bipartite.clustering(G)

In [51]:
sum(list(bc.values()))/len(list(bc.values()))

0.3971006554672986

In [83]:
rest_node = list(G.nodes)[:60]

In [90]:
bc_key = bipartite.clustering(G).keys()

In [91]:
bc_value = bipartite.clustering(G).values()

In [92]:
rest_bc_values = []
for i, j in zip(bc_key, bc_value):
  if i in rest_node:
    rest_bc_values.append(j)
len(rest_bc_values)

60

In [93]:
sum(rest_bc_values)/len(rest_bc_values)

0.03307468717451624

In [ ]:
# n : The number of nodes 
# p : Probability for edge creation 
n = 20 #노드 수
p = 0.5 #랜덤 연결 확률
random_G = nx.erdos_renyi_graph(n, p, seed=None, directed=False)

In [94]:
G.number_of_edges(), G.number_of_nodes()

(2399, 1268)

In [106]:
2399/(60*1268)

0.03153259726603575

In [96]:
2399/1208

1.9859271523178808

In [107]:
br = bipartite.random_graph(60, 1208, 0.03, seed=None, directed=False)

In [108]:
br.nodes

NodeView((0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999, 1000, 1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010, 1011, 1012, 1013, 1014, 1015, 1016, 1017, 1018, 1019, 1020, 1021, 1022, 1023, 1024, 1025, 1026, 1027, 1028, 1029, 1030, 1031, 1032, 1033, 1034, 1035, 1036, 1037, 1038, 1039, 1040, 1041, 1042, 1043, 1044, 1045, 1046, 1047, 1048, 1049, 1050, 1051, 1052, 1053, 1054, 1055, 1056, 1057, 1058, 1059, 1060, 1061, 1062, 1063, 1064, 1065, 1066, 1067, 1068, 1069, 1070, 1071, 1072, 1073, 1074, 1075, 1076, 1077, 1078, 1079, 1080, 1081, 1082, 1083, 1084, 1085, 1086, 1087, 1088, 1089, 1090, 1091, 1092, 1093, 1094, 1095, 1096, 1097, 1098, 1099, 1100, 1101, 1102, 1103, 1104, 1105, 1106, 1107, 1108, 1109, 1110, 1111, 1112, 1113, 1114, 1115, 1116, 1117, 1118, 1119, 1120, 1121, 1122, 1123, 1124, 1125, 1126, 1127, 1128, 1129, 1130, 1131, 1132, 1133, 1134, 1135, 1136, 1137, 1138, 1139, 1140, 1141, 1142, 1143, 1144, 1145, 1146, 1147, 1148, 1149, 1150, 1151, 1152, 1153, 1154, 1155, 1156, 1157, 1158, 1159, 1160, 1161, 1162, 1163, 1164, 1165, 1166, 1167, 1168, 1169, 1170, 1171, 1172, 1173, 1174, 1175, 1176, 1177, 1178, 1179, 1180, 1181, 1182, 1183, 1184, 1185, 1186, 1187, 1188, 1189, 1190, 1191, 1192, 1193, 1194, 1195, 1196, 1197, 1198, 1199, 1200, 1201, 1202, 1203, 1204, 1205, 1206, 1207, 1208, 1209, 1210, 1211, 1212, 1213, 1214, 1215, 1216, 1217, 1218, 1219, 1220, 1221, 1222, 1223, 1224, 1225, 1226, 1227, 1228, 1229, 1230, 1231, 1232, 1233, 1234, 1235, 1236, 1237, 1238, 1239, 1240, 1241, 1242, 1243, 1244, 1245, 1246, 1247, 1248, 1249, 1250, 1251, 1252, 1253, 1254, 1255, 1256, 1257, 1258, 1259, 1260, 1261, 1262, 1263, 1264, 1265, 1266, 1267))

In [109]:
brc = bipartite.clustering(br)

In [110]:
brc

{0: 0.025650141816800195,
 1: 0.02210523289151093,
 2: 0.022090045674061348,
 3: 0.023649008715243464,
 4: 0.02524167638053748,
 5: 0.025905828681959092,
 6: 0.022573904114186343,
 7: 0.02244139042310318,
 8: 0.022773935349933695,
 9: 0.024483079531775715,
 10: 0.02349428745136365,
 11: 0.019901748126653768,
 12: 0.022315386681953795,
 13: 0.0247341919404532,
 14: 0.021524462610033556,
 15: 0.020964628571967337,
 16: 0.023563847475126746,
 17: 0.022496721026273026,
 18: 0.0232556472587145,
 19: 0.026503351104986677,
 20: 0.026491865469380038,
 21: 0.023100877226511437,
 22: 0.021200698243932534,
 23: 0.021593713853255335,
 24: 0.021189045253626818,
 25: 0.023304802907321523,
 26: 0.02295851900228271,
 27: 0.021439967826704567,
 28: 0.025376247705697335,
 29: 0.023728802056987873,
 30: 0.023302507532935276,
 31: 0.030000383531558296,
 32: 0.02088064817303976,
 33: 0.020600643369110737,
 34: 0.02527943290579531,
 35: 0.023336893448611725,
 36: 0.017863658713973392,
 37: 0.025206147143337666,
 38: 0.023679119166461957,
 39: 0.024947923507550273,
 40: 0.028129588665537518,
 41: 0.021927052824913026,
 42: 0.024474834669027095,
 43: 0.019929410467675886,
 44: 0.02473961770998286,
 45: 0.023316028017107335,
 46: 0.02444664591583792,
 47: 0.022760060811101743,
 48: 0.02261766671682354,
 49: 0.025106002318655025,
 50: 0.02072327743565266,
 51: 0.02255598442924186,
 52: 0.02538460133567681,
 53: 0.021553870219437072,
 54: 0.024158286057398535,
 55: 0.02429923080374003,
 56: 0.023074035042011182,
 57: 0.02520659365634693,
 58: 0.023106330655792394,
 59: 0.023941823487104087,
 60: 0.3003228410008071,
 61: 0.48039215686274517,
 62: 0.0,
 63: 0.29147321428571427,
 64: 0.22584738756613743,
 65: 0.35507246376811585,
 66: 0.19186507936507918,
 67: 0.4188644688644689,
 68: 0.3250163078930202,
 69: 0.222610420979986,
 70: 0.40448504983388706,
 71: 0.0,
 72: 0.19174718196457316,
 73: 0.46367521367521364,
 74: 0.2906794425087107,
 75: 0.1927323549965058,
 76: 0.22858746192079518,
 77: 0.30113636363636354,
 78: 0.2245460048426149,
 79: 0.3054904051172706,
 80: 0.28919172932330806,
 81: 0.293113553113553,
 82: 0.0,
 83: 0.29891456582633047,
 84: 0.31264880952380947,
 85: 0.23230852211434722,
 86: 0.0,
 87: 0.3261904761904761,
 88: 0.31212905452035883,
 89: 0.0,
 90: 0.23093944099378874,
 91: 0.2925878684807256,
 92: 0.19502140768588128,
 93: 0.22481995884773645,
 94: 0.0,
 95: 0.4333333333333333,
 96: 0.5021505376344088,
 97: 0.24099415204678357,
 98: 0.19016439909297034,
 99: 0.4898589065255731,
 100: 0.5150340136054421,
 101: 0.19093510420041018,
 102: 0.3049130763416477,
 103: 0.41774193548387106,
 104: 0.22249890782000858,
 105: 0.0,
 106: 0.46436011904761904,
 107: 0.3041572184429327,
 108: 0.2854966717869943,
 109: 0.22078275754746335,
 110: 0.23641498641498634,
 111: 0.5150340136054421,
 112: 0.2848809523809523,
 113: 0.29664902998236337,
 114: 0.2988435374149659,
 115: 0.22849281221922718,
 116: 0.32056277056277044,
 117: 0.1867869543650793,
 118: 0.0,
 119: 0.4333333333333333,
 120: 0.2797071702244115,
 121: 0.2880532212885153,
 122: 0.4417077175697865,
 123: 0.0,
 124: 0.2742926155969635,
 125: 0.0,
 126: 0.0,
 127: 0.22085953878406694,
 128: 0.3210227272727271,
 129: 0.29021526418786686,
 130: 0.18958884479717805,
 131: 0.28511904761904755,
 132: 0.32574189095928213,
 133: 0.3959930313588851,
 134: 0.18601033005794898,
 135: 0.19115896358543405,
 136: 0.21703463203463183,
 137: 0.22463312368972743,
 138: 0.4696078431372549,
 139: 0.2360200961118391,
 140: 0.16582411002514091,
 141: 0.23148429584599783,
 142: 0.48931623931623935,
 143: 0.2319782168186422,
 144: 0.46415343915343915,
 145: 0.15760105409495648,
 146: 0.0,
 147: 0.12895206645206633,
 148: 0.4402721088435374,
 149: 0.45230880230880227,
 150: 0.22252326217843443,
 151: 0.0,
 152: 0.0,
 153: 0.18582169709989246,
 154: 0.28926739926739925,
 155: 0.48373015873015857,
 156: 0.0,
 157: 0.18667214012041586,
 158: 0.0,
 159: 0.41547619047619055,
 160: 0.29642857142857143,
 161: 0.0,
 162: 0.3959930313588851,
 163: 0.46967120181405886,
 164: 0.46367521367521364,
 165: 0.3124269005847954,
 166: 0.2988644688644688,
 167: 0.2329739442946989,
 168: 0.30783410138248846,
 169: 0.2313311688311687,
 170: 0.22350668337510426,
 171: 0.2980324074074073,
 172: 0.312517006802721,
 173: 0.19081411210317448,
 174: 0.0,
 175: 0.23112073112073098,
 176: 0.2238011695906431,
 177: 0.2727633477633477,
 178: 0.29523809523809513,
 179: 0.4054166666666667,
 180: 0.19697457930540632,
 181: 0.3063900560224088,
 182: 0.3056689342403627,
 183: 0.23833136560409268,
 184: 0.4847222222222223,
 185: 0.2327830188679244,
 186: 0.19225396825396812,
 187: 0.22296777296777284,
 188: 0.43459383753501396,
 189: 0.0,
 190: 0.23176914778856508,
 191: 0.0,
 192: 0.29003663003662994,
 193: 0.16309067163497537,
 194: 0.23487723214285697,
 195: 0.3071806500377928,
 196: 0.29190476190476194,
 197: 0.4417077175697865,
 198: 0.22225217130877498,
 199: 0.30872423596304194,
 200: 0.2925878684807256,
 201: 0.4547008547008548,
 202: 0.0,
 203: 0.24136904761904746,
 204: 0.46367521367521364,
 205: 0.2213723837617641,
 206: 0.16153092733403607,
 207: 0.39365079365079375,
 208: 0.4547008547008548,
 209: 0.5150340136054421,
 210: 0.0,
 211: 0.0,
 212: 0.3023363095238095,
 213: 0.16464968923069478,
 214: 0.0,
 215: 0.31126126126126114,
 216: 0.4520833333333333,
 217: 0.45997732426303856,
 218: 0.41571428571428576,
 219: 0.20312063492063484,
 220: 0.3152557319223985,
 221: 0.29315476190476175,
 222: 0.23655372405372388,
 223: 0.40769230769230763,
 224: 0.1637374888704675,
 225: 0.3826455026455026,
 226: 0.0,
 227: 0.303277674706246,
 228: 0.3203359425962165,
 229: 0.29924812030075176,
 230: 0.2947204968944099,
 231: 0.0,
 232: 0.2971988795518206,
 233: 0.48039215686274517,
 234: 0.31808663224325867,
 235: 0.0,
 236: 0.3055331991951709,
 237: 0.30166078777189886,
 238: 0.2973260073260073,
 239: 0.23712600084281477,
 240: 0.23189140342605663,
 241: 0.0,
 242: 0.1882869020624122,
 243: 0.0,
 244: 0.22490590738013405,
 245: 0.4417077175697866,
 246: 0.4417077175697866,
 247: 0.40098039215686276,
 248: 0.3561728395061728,
 249: 0.4837301587301586,
 250: 0.0,
 251: 0.29878183831672195,
 252: 0.2270807453416147,
 253: 0.22199302134646956,
 254: 0.0,
 255: 0.3216183574879225,
 256: 0.0,
 257: 0.48373015873015857,
 258: 0.23397349505840057,
 259: 0.302960102960103,
 260: 0.3011363636363636,
 261: 0.22622354497354483,
 262: 0.4145833333333334,
 263: 0.0,
 264: 0.0,
 265: 0.3588235294117647,
 266: 0.2350740296118446,
 267: 0.0,
 268: 0.3695402298850574,
 269: 0.2217198194262413,
 270: 0.0,
 271: 0.28381595881595867,
 272: 0.0,
 273: 0.29548192771084325,
 274: 0.4568627450980392,
 275: 0.3222901002506264,
 276: 0.0,
 277: 0.4408163265306122,
 278: 0.4568627450980392,
 279: 0.41774193548387106,
 280: 0.2974444444444444,
 281: 0.41886446886446893,
 282: 0.5150340136054421,
 283: 0.3118894993894993,
 284: 0.22935384845762194,
 285: 0.3222901002506264,
 286: 0.47333333333333344,
 287: 0.47333333333333344,
 288: 0.2821267696267696,
 289: 0.16233077160043446,
 290: 0.23757288629737588,
 291: 0.1921519734019733,
 292: 0.30175353925353926,
 293: 0.2942460317460317,
 294: 0.2778508771929824,
 295: 0.0,
 296: 0.22741402116402107,
 297: 0.22940917107583753,
 298: 0.4408163265306122,
 299: 0.2975417439703154,
 300: 0.0,
 301: 0.41571428571428576,
 302: 0.4837301587301586,
 303: 0.0,
 304: 0.4402721088435374,
 305: 0.0,
 306: 0.4702020202020203,
 307: 0.29323461091753766,
 308: 0.4702020202020203,
 309: 0.4417077175697866,
 310: 0.5021505376344088,
 311: 0.2995798319327729,
 312: 0.2773662551440329,
 313: 0.45470085470085464,
 314: 0.22946875446875434,
 315: 0.32117486338797807,
 316: 0.13635771635771626,
 317: 0.38333333333333336,
 318: 0.0,
 319: 0.2917077175697864,
 320: 0.4961805555555556,
 321: 0.2418546365914785,
 322: 0.296121351766513,
 323: 0.0,
 324: 0.31580459770114944,
 325: 0.22721623240491146,
 326: 0.5028571428571428,
 327: 0.23369929453262778,
 328: 0.40448504983388706,
 329: 0.0,
 330: 0.29212328767123275,
 331: 0.4696078431372549,
 332: 0.31669884169884166,
 333: 0.3116031746031745,
 334: 0.4702020202020203,
 335: 0.0,
 336: 0.0,
 337: 0.3052611367127496,
 338: 0.0,
 339: 0.3128610460577674,
 340: 0.0,
 341: 0.0,
 342: 0.23132008154943914,
 343: 0.31718426501035174,
 344: 0.43459383753501396,
 345: 0.0,
 346: 0.46436011904761904,
 347: 0.16497445721583648,
 348: 0.4408163265306122,
 349: 0.3004201680672268,
 350: 0.4837301587301586,
 351: 0.43821138211382116,
 352: 0.0,
 353: 0.2918275418275418,
 354: 0.0,
 355: 0.31336996336996326,
 356: 0.19745443856554948,
 357: 0.30228310502283096,
 358: 0.0,
 359: 0.3015624999999999,
 360: 0.46408163265306124,
 361: 0.2835365853658536,
 362: 0.4696078431372549,
 363: 0.2938969258589511,
 364: 0.29730392156862734,
 365: 0.403125,
 366: 0.0,
 367: 0.29155555555555557,
 368: 0.0,
 369: 0.0,
 370: 0.26256830601092895,
 371: 0.4898589065255732,
 372: 0.1865944623463419,
 373: 0.3102193686463348,
 374: 0.4356481481481482,
 375: 0.38264550264550257,
 376: 0.3130081300813008,
 377: 0.1651992334532017,
 378: 0.4356481481481482,
 379: 0.4054166666666667,
 380: 0.4893162393162393,
 381: 0.31485260770975043,
 382: 0.4893162393162393,
 383: 0.4641534391534392,
 384: 0.48373015873015857,
 385: 0.23415637860082295,
 386: 0.30242987606001304,
 387: 0.0,
 388: 0.3027426160337553,
 389: 0.4520833333333333,
 390: 0.12940617874538562,
 391: 0.40448504983388706,
 392: 0.42135416666666664,
 393: 0.22889180136886542,
 394: 0.42135416666666664,
 395: 0.2192823007339135,
 396: 0.19490311276025557,
 397: 0.0,
 398: 0.43059163059163064,
 399: 0.3094594594594594,
 400: 0.2826576576576576,
 401: 0.22550144300144284,
 402: 0.23145806995364504,
 403: 0.4520833333333333,
 404: 0.30025150905432596,
 405: 0.22230158730158714,
 406: 0.0,
 407: 0.4428571428571429,
 408: 0.3098065476190476,
 409: 0.28601190476190474,
 410: 0.2835942596216569,
 411: 0.0,
 412: 0.40769230769230763,
 413: 0.4408163265306122,
 414: 0.23826935536119195,
 415: 0.3269841269841269,
 416: 0.22824009862844802,
 417: 0.3085034013605441,
 418: 0.0,
 419: 0.46415343915343915,
 420: 0.0,
 421: 0.28913690476190473,
 422: 0.0,
 423: 0.0,
 424: 0.3043202764976957,
 425: 0.4408163265306122,
 426: 0.2832217261904762,
 427: 0.23947319085114332,
 428: 0.18912762937153163,
 429: 0.44040178571428573,
 430: 0.18696741854636573,
 431: 0.3128253968253967,
 432: 0.0,
 433: 0.23343169176502498,
 434: 0.3269841269841269,
 435: 0.4520833333333333,
 436: 0.145141694725028,
 437: 0.2250999636495817,
 438: 0.0,
 439: 0.0,
 440: 0.23455657492354726,
 441: 0.1662880573771663,
 442: 0.16294994687851821,
 443: 0.2303727046374104,
 444: 0.29913165266106434,
 445: 0.23963768115942008,
 446: 0.4388888888888889,
 447: 0.4568627450980392,
 448: 0.227675503190967,
 449: 0.4961805555555556,
 450: 0.30763305322128837,
 451: 0.27346491228070163,
 452: 0.3081422692533802,
 453: 0.5021505376344088,
 454: 0.0,
 455: 0.2888133030990175,
 456: 0.48931623931623935,
 457: 0.16042487475071734,
 458: 0.27609599395313683,
 459: 0.0,
 460: 0.30941391941391927,
 461: 0.1832075788061703,
 462: 0.0,
 463: 0.31055555555555536,
 464: 0.4696078431372549,
 465: 0.0,
 466: 0.4388888888888889,
 467: 0.43821138211382116,
 468: 0.0,
 469: 0.4188644688644689,
 470: 0.2846443640747437,
 471: 0.30083836351441967,
 472: 0.19439282488062964,
 473: 0.320734126984127,
 474: 0.4702020202020203,
 475: 0.1619761484840849,
 476: 0.0,
 477: 0.0,
 478: 0.23499309868875073,
 479: 0.0,
 480: 0.0,
 481: 0.47333333333333344,
 482: 0.4054166666666667,
 483: 0.293070818070818,
 484: 0.0,
 485: 0.29205182072829117,
 486: 0.16255918255918245,
 487: 0.45230880230880227,
 488: 0.1922992868645041,
 489: 0.4837301587301586,
 490: 0.4356481481481482,
 491: 0.2830467372134039,
 492: 0.4188644688644689,
 493: 0.3026383526383524,
 494: 0.22478213507625258,
 495: 0.23927154195011324,
 496: 0.2370729082593488,
 497: 0.303876306620209,
 498: 0.0,
 499: 0.0,
 500: 0.39365079365079364,
 501: 0.0,
 502: 0.0,
 503: 0.2370710506424791,
 504: 0.30064935064935056,
 505: 0.4837301587301586,
 506: 0.0,
 507: 0.46967120181405886,
 508: 0.29941338854382327,
 509: 0.185159285159285,
 510: 0.45470085470085475,
 511: 0.1659162140053859,
 512: 0.3030129335684891,
 513: 0.23866052710392321,
 514: 0.30300284292821605,
 515: 0.22559331175836006,
 516: 0.36495016611295683,
 517: 0.13269753708000714,
 518: 0.20007571010860475,
 519: 0.3033755274261603,
 520: 0.3001937984496123,
 521: 0.0,
 522: 0.19088804713804697,
 523: 0.30850074404761907,
 524: 0.0,
 525: 0.4898589065255732,
 526: 0.28941617742987596,
 527: 0.45230880230880227,
 528: 0.31482843137254907,
 529: 0.42135416666666664,
 530: 0.0,
 531: 0.5018518518518518,
 532: 0.0,
 533: 0.0,
 534: 0.36495016611295683,
 535: 0.0,
 536: 0.3695402298850574,
 537: 0.4961805555555556,
 538: 0.19585969585969576,
 539: 0.19262079831932755,
 540: 0.19565727699530508,
 541: 0.3100132275132274,
 542: 0.0,
 543: 0.0,
 544: 0.28541666666666665,
 545: 0.46367521367521364,
 546: 0.0,
 547: 0.18579607415485266,
 548: 0.4402721088435374,
 549: 0.4486486486486487,
 550: 0.4961805555555556,
 551: 0.4486486486486487,
 552: 0.23463868003341667,
 553: 0.30652901785714287,
 554: 0.2420833333333333,
 555: 0.3072150072150073,
 556: 0.0,
 557: 0.291796875,
 558: 0.2906794425087107,
 559: 0.23993055555555542,
 560: 0.21923280423280417,
 561: 0.46436011904761904,
 562: 0.0,
 563: 0.4388888888888889,
 564: 0.3041572184429327,
 565: 0.0,
 566: 0.4696078431372549,
 567: 0.4847222222222223,
 568: 0.22354149262043976,
 569: 0.2254182754182752,
 570: 0.1921778315846111,
 571: 0.29172335600907023,
 572: 0.31336996336996326,
 573: 0.3001262626262626,
 574: 0.19384217043791493,
 575: 0.43459383753501396,
 576: 0.22256899756899737,
 577: 0.0,
 578: 0.28614163614163607,
 579: 0.19108972194078575,
 580: 0.30869360902255627,
 581: 0.30586353944562883,
 582: 0.29190476190476194,
 583: 0.0,
 584: 0.31360078277886494,
 585: 0.2936197916666667,
 586: 0.0,
 587: 0.0,
 588: 0.29455782312925155,
 589: 0.3139219576719576,
 590: 0.23090828924162243,
 591: 0.40098039215686276,
 592: 0.2331520251778871,
 593: 0.4696078431372549,
 594: 0.4568627450980392,
 595: 0.31047045324153744,
 596: 0.0,
 597: 0.14352140206732034,
 598: 0.22824198861934694,
 599: 0.45230880230880227,
 600: 0.5150340136054421,
 601: 0.237050133584787,
 602: 0.29718733647305073,
 603: 0.0,
 604: 0.22906084656084638,
 605: 0.2820332080200501,
 606: 0.5028571428571428,
 607: 0.4702020202020203,
 608: 0.28828169822145716,
 609: 0.3079313543599258,
 610: 0.0,
 611: 0.0,
 612: 0.23655122655122635,
 613: 0.23401412552788683,
 614: 0.0,
 615: 0.403125,
 616: 0.19452380952380935,
 617: 0.2953741496598639,
 618: 0.2326800232288036,
 619: 0.19461710893008594,
 620: 0.4696078431372549,
 621: 0.2948706643151088,
 622: 0.22254385964912268,
 623: 0.0,
 624: 0.23644055106319237,
 625: 0.0,
 626: 0.0,
 627: 0.31123511904761897,
 628: 0.3094603174603173,
 629: 0.3770833333333334,
 630: 0.4388888888888889,
 631: 0.2291131815044857,
 632: 0.2404914529914528,
 633: 0.29947257383966236,
 634: 0.4898589065255732,
 635: 0.0,
 636: 0.46967120181405886,
 637: 0.382,
 638: 0.0,
 639: 0.28945578231292496,
 640: 0.2257969854608509,
 641: 0.5028571428571428,
 642: 0.29270833333333335,
 643: 0.0,
 644: 0.39365079365079364,
 645: 0.2320835187657616,
 646: 0.18508322310405634,
 647: 0.22333671057075294,
 648: 0.3066230717639168,
 649: 0.0,
 650: 0.1677815474163788,
 651: 0.3959930313588851,
 652: 0.0,
 653: 0.3011363636363636,
 654: 0.2894248608534321,
 655: 0.2968769325912182,
 656: 0.1667369068839656,
 657: 0.30178571428571416,
 658: 0.23105952380952366,
 659: 0.2936375661375659,
 660: 0.4640816326530611,
 661: 0.18680188124632557,
 662: 0.23923395445134557,
 663: 0.0,
 664: 0.4145833333333334,
 665: 0.41547619047619055,
 666: 0.45997732426303856,
 667: 0.43333333333333324,
 668: 0.1937325820913606,
 669: 0.35617283950617284,
 670: 0.21532539682539667,
 671: 0.41547619047619055,
 672: 0.23099688473520225,
 673: 0.1898538312207376,
 674: 0.30221386800334166,
 675: 0.2274160696727067,
 676: 0.1924186924186923,
 677: 0.0,
 678: 0.46967120181405886,
 679: 0.2266137566137565,
 680: 0.18372159415324868,
 681: 0.4702020202020203,
 682: 0.28132318501170944,
 683: 0.18626109236345448,
 684: 0.14668198087315729,
 685: 0.30083836351441967,
 686: 0.19182960159781343,
 687: 0.2967857142857143,
 688: 0.0,
 689: 0.44040178571428573,
 690: 0.5021505376344088,
 691: 0.22590011614401842,
 692: 0.0,
 693: 0.23718872870249,
 694: 0.4275362318840579,
 695: 0.0,
 696: 0.29131868131868127,
 697: 0.2906825396825396,
 698: 0.0,
 699: 0.40098039215686276,
 700: 0.1621466660806762,
 701: 0.3682072829131653,
 702: 0.30303657694962033,
 703: 0.19197676863239765,
 704: 0.5021505376344088,
 705: 0.24118165784832424,
 706: 0.0,
 707: 0.0,
 708: 0.2332080200501252,
 709: 0.29212328767123275,
 710: 0.0,
 711: 0.40098039215686276,
 712: 0.23492427552060563,
 713: 0.48039215686274517,
 714: 0.1902447089947088,
 715: 0.2801687763713079,
 716: 0.23831453634085187,
 717: 0.2888133030990174,
 718: 0.0,
 719: 0.0,
 720: 0.4275362318840579,
 721: 0.23074627783930082,
 722: 0.16355530090824205,
 723: 0.46436011904761904,
 724: 0.23966308745720497,
 725: 0.0,
 726: 0.4847222222222223,
 727: 0.303277674706246,
 728: 0.0,
 729: 0.22635614116196626,
 730: 0.18505193744164328,
 731: 0.0,
 732: 0.23089390142021707,
 733: 0.4408163265306122,
 734: 0.2982061317677755,
 735: 0.2893650793650793,
 736: 0.44285714285714295,
 737: 0.0,
 738: 0.4402721088435374,
 739: 0.2821931589537222,
 740: 0.22502805836139164,
 741: 0.4520833333333333,
 742: 0.2878510378510377,
 743: 0.2982769423558897,
 744: 0.2893650793650793,
 745: 0.39365079365079375,
 746: 0.4847222222222223,
 747: 0.17122694960118273,
 748: 0.0,
 749: 0.30886075949367076,
 750: 0.22105590062111782,
 751: 0.23954311454311433,
 752: 0.2310343340234643,
 753: 0.28237116764514014,
 754: 0.199182658137882,
 755: 0.16629949804796418,
 756: 0.1682612272551296,
 757: 0.27269345238095233,
 758: 0.0,
 759: 0.20426036155202804,
 760: 0.4893162393162393,
 761: 0.4402721088435374,
 762: 0.3122233400402412,
 763: 0.2981898238747553,
 764: 0.45470085470085475,
 765: 0.30513392857142846,
 766: 0.4154761904761906,
 767: 0.16282220703273337,
 768: 0.3094594594594594,
 769: 0.5028571428571428,
 770: 0.2888988095238094,
 771: 0.4961805555555556,
 772: 0.1891038359788359,
 773: 0.0,
 774: 0.16361004474212013,
 775: 0.23338675213675197,
 776: 0.5018518518518518,
 777: 0.18912202380952367,
 778: 0.48373015873015857,
 779: 0.2796918767507002,
 780: 0.29546130952380945,
 781: 0.0,
 782: 0.1703044332210998,
 783: 0.23817630995050335,
 784: 0.20014237247061667,
 785: 0.3261904761904761,
 786: 0.29323671497584536,
 787: 0.5018518518518518,
 788: 0.0,
 789: 0.4961805555555556,
 790: 0.5018518518518518,
 791: 0.28646055437100215,
 792: 0.0,
 793: 0.0,
 794: 0.4847222222222223,
 795: 0.19742747673782143,
 796: 0.46436011904761904,
 797: 0.3118894993894993,
 798: 0.23481535471331372,
 799: 0.47333333333333344,
 800: 0.3087648809523808,
 801: 0.0,
 802: 0.2357720758206193,
 803: 0.1913238311197495,
 804: 0.46967120181405886,
 805: 0.29196847753185773,
 806: 0.2396342305037956,
 807: 0.23333333333333325,
 808: 0.28971560846560845,
 809: 0.0,
 810: 0.0,
 811: 0.3826455026455026,
 812: 0.43459383753501396,
 813: 0.1705994936533859,
 814: 0.3007348618459729,
 815: 0.22008013561411602,
 816: 0.48931623931623935,
 817: 0.2844907407407406,
 818: 0.2961620469083155,
 819: 0.2680168408826945,
 820: 0.28025297619047607,
 821: 0.46408163265306124,
 822: 0.4388888888888889,
 823: 0.23345885973436978,
 824: 0.29803822937625746,
 825: 0.4898589065255732,
 826: 0.30814536340852117,
 827: 0.0,
 828: 0.29192307692307684,
 829: 0.32206572769953035,
 830: 0.22805131761442424,
 831: 0.3150340136054422,
 832: 0.23247604073075753,
 833: 0.0,
 834: 0.5021505376344088,
 835: 0.45997732426303856,
 836: 0.0,
 837: 0.2275925925925924,
 838: 0.23444586167800438,
 839: 0.0,

In [111]:
brc_keys = brc.keys()
brc_values = brc.values()

In [114]:
rest_brc_values = []
for i, j in zip(brc_keys, brc_values):
  if i <60:
    rest_brc_values.append(j)
len(rest_brc_values)

60

In [115]:
sum(rest_brc_values)/len(rest_brc_values)

0.023376689235062934